html {
  background: url("../images/hogstock/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: transparent;
  color: white; }

#main-nav {
  max-width: 700px;
  max-height: none;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; }

#menu_holder {
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

#logo {
  text-align: center; }

#mini_logo {
  width: 350px;
  height: 90px; }

#about {
  margin-top: 250px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center; }

#content_container {
  width: 50%;
  height: none;
  min-width: 575px;
  min-height: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 100px; }

#content_row {
  min-width: 1160px;
  min-height: none; }

#top_container {
  min-width: 688px;
  min-height: none; }

#contact_info {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;
  font-weight: bold; }

#side-nav {
  width: 25%;
  min-width: 300px; }
  #side-nav .logo-wrapper {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px; }

#contact_body {
  width: 380px;
  resize: none; }

#contact_button {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 490px; }

#contact-wrapper #contact-name {
  font-size: 20px; }
#contact-wrapper #contact-number {
  font-size: 16px; }
#contact-wrapper #contact-title {
  font-size: 32px; }
#contact-wrapper .contact-info {
  text-align: left;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.hidden, #contact_info {
  display: none; }

.match-orange, #contact_info {
  color: #ffaa00; }

.menu-container {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0 auto;
  margin-left: 0;
  max-width: 400px;
  max-height: none; }

.menu-header {
  font-size: 32px;
  padding-top: 3%;
  padding-right: 0;
  padding-bottom: 3%;
  padding-left: 0; }
