blockquote
{
    clear: both;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 0 50px;
    position: relative;
    quotes: none;
    background: url(/images/open-quote.png) 0 0 no-repeat;
    border: 0px;
    font-size: 120%;
    line-height: 200%;
}
