html
  background: url("../images/background.png") no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

body
  background: transparent
  color: white

.hidden
  display: none

#menu_holder
  margin-top: 60px

#logo
  text-align: center

#mini_logo
  width: 15%
  margin-bottom: -5%
  cursor: pointer

.logo-wrapper
  margin-left: 20px

.match-orange
  color: #ffaa00

.contact-info
  float: left

#content_container
  margin-left: auto
  margin-right: auto
  max-width: 840px
  position: relative
  padding: 0 50px

#contact_info
  padding-bottom: 30px
  display: none
  @extend .match-orange
  font-weight: bold

#contact_body
  width: 380px
  resize: none

#contact_button
  margin-left: 490px

.contact-name
  font-size: 20px
  text-align: left

.contact-number
  font-size: 16px
  text-align: left

.contact-title
  font-size: 32px
  text-align: left

.contact-info
  padding-top: 20px

.menu-container
  margin-left: auto
  margin-right: auto
  max-width: 400px

.menu-header
  font-size: 32px
  padding-bottom: 3%
  padding-top: 3%

ul
  list-style-type: none
  padding: 0
  margin: 0
