%h2.contact-title.match-orange Contact Us:
%hr
.contact-wrapper
  #contact_info
  .contact-info
    .contact-name.match-orange   Brandon Whitlow
    %br 
    .contact-number   503-708-2031 
    %br 
    .contact-name.match-orange   Lars Rivera
    %br 
    .contact-number   503-964-8858
  %form{:id => "contact_form", :method => "post"}
    %fieldset
      %label.match-orange Full Name:
      %input{:required => "required", :type => "text", :id => "contact_name", :name => "contact_name", :class => "text"}
      %label.match-orange E-mail:
      %input{:required => "required", :type => "email", :id => "contact_mail", :name => "contact_mail", :class => "text"}
      %label.match-orange Message:
      %textarea{:required => "required", :id => "contact_body", :name => "contact_body", :rows => "7"}
    %button{:id => "contact_button", :type => "submit", :class => "btn"} Send
