#content.span12.hidden
  %span
    .logo-wrapper
      #mini-logo
        %img{ :src => "/images/hogstocklogo.png" }  
      = vertical_menu
    <script type="text/javascript" src="/javascripts/base.min.js"></script>
