!!!
%html
  %head
    %title Hogstock & Two Smokin' Barrels
    = css_assets 'base'
  .row-fluid
    .span12.offset4
      #header
        %img{ :src => "/images/hogstocklogo.png" }
  .row-fluid.center-menu
    .span12.offset4
      %body
        = nav_menu
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      = js_assets 'base'
