!!!
%html
  %head
    %title Hogstock & Two Smokin' Barrels
    <link href="/css/base.min.css" rel="stylesheet" type="text/css">
  %body
    .container
      #logo
        %img{ :src => "/images/hogstocklogo.png" }
      = nav_menu
    #content_row.row-fluid
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/modernizr.custom.46884.js"}
    %script{:type => "text/javascript", :src => "/javascripts/base.min.js"}
