!!!
%html
  %head
    %title Hogstock & Two Smokin' Barrels
    = css_assets 'base'
  %body
    .row-fluid
      .container
        %span#header.span4
          %img{ :src => "/images/hogstocklogo.png" }
        %span#menu.span6
          = nav_menu
    .row-fluid
      #content.span12
        %span
          = half_menu
        %img{ :src => "/images/pig.jpg" }
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "galleria/galleria-1.2.9.min.js"}
    = js_assets 'base'
