#accordion-container
  %h2.accordion-header Cold Sides and Salads 
  .accordion-content
    %ul
      %li.menu-item Mixed Green Salad
      %li.menu-item Cauliflower Salad
      %li.menu-item Smoky Potato Salad
      %li.menu-item Greek Salad
      %li.menu-item Greek Style Pasta Salad
      %li.menu-item Bacon Ranch Pasta Salad
      %li.menu-item Panzanella Salad (Bread and Veggie Salad)
      %li.menu-item Coleslaw 
      %li.menu-item Blue Cheese Coleslaw
      %li.menu-item Macaroni Pepper Salad
  %h2.accordion-header Hot Sides 
  .accordion-content
    %ul
      %li.menu-item Baked mac-n-cheese
      %li.menu-item Greens (Collard Greens, Mustard Greens, Swiss Chard, Turnip Greens)
      %li.menu-item Baked Beans
      %li.menu-item Green Beans-n-Bacon
      %li.menu-item Black Beans
      %li.menu-item Corn Bread
      %li.menu-item Assorted Vegetable Kabobs (Customoer Choice)
      %li.menu-item Mashed Potatoes Any Way (Customer Choice, Blue Cheese, Garlic, German, etc.)
      %li.menu-item Baked or Smoked Potatoes
      %li.menu-item Rice
  %h2.accordion-header Main Dishes (Meat and Protein)  
  .accordion-content
    %ul
      %li.menu-item Brisket
      %li.menu-item Chopped Beef
      %li.menu-item Smoked Prime Rib
      %li.menu-item BBQ Beef Ribs
      %li.menu-item Smoked Turkey
      %li.menu-item Grilled Vinegar Chicken
      %li.menu-item BBQ Chicken
      %li.menu-item Chicken Wings
      %li.menu-item Homemade Sausage
      %li.menu-item Pulled Pork
      %li.menu-item Pork Loin
      %li.menu-item Baby Back Ribs
      %li.menu-item Cuban Sytle Whole Hog
  %h2.accordion-header Deserts
  .accordion-content
    %ul
      %li.menu-item Carrot Cake
      %li.menu-item Strawberry Short Cake
      %li.menu-item Red Velvet Cake
      %li.menu-item Bacon Candy
      %li.menu-item Banana Pudding
      %li.menu-item Banana Cream Pie
