%h2.match-orange
  Catering Menu:
%hr
#accordion-container
  %h2.accordion-header Cold Sides and Salads 
  .accordion-content
    %ul
      %li.menu-item Mixed Green Salad
      %li.menu-item Cauliflower Salad
      %li.menu-item Smoky Potato Salad
      %li.menu-item Greek Salad
      %li.menu-item Greek Pasta Salad
      %li.menu-item Bacon Ranch Pasta Salad
      %li.menu-item Panzanella (Bread and Veggie Salad)
      %li.menu-item Coleslaw 
      %li.menu-item Blue Cheese Coleslaw
      %li.menu-item Macaroni Pepper Salad
  %h2.accordion-header Hot Sides 
  .accordion-content
    %ul
      %li.menu-item Baked Mac-n-Cheese
      %li.menu-item Greens (Collard, Mustard, Swiss Chard, Turnip)
      %li.menu-item Baked Beans
      %li.menu-item Green Beans-n-Bacon
      %li.menu-item Black Beans
      %li.menu-item Corn Bread
      %li.menu-item Assorted Vegetable Kabobs
      %li.menu-item Mashed Potatoes (Customer Choice: Blue Cheese, Garlic, German, etc.)
      %li.menu-item Baked or Smoked Potatoes
      %li.menu-item Rice
  %h2.accordion-header Main Dishes (Meat)  
  .accordion-content
    %ul
      %li.menu-item Cuban Style Whole Hog
      %li.menu-item Baby Back Ribs
      %li.menu-item Pulled Pork
      %li.menu-item Brisket
      %li.menu-item Smoked Prime Rib
      %li.menu-item BBQ Beef Ribs
      %li.menu-item Chopped Beef
      %li.menu-item Grilled Vinegar Chicken
      %li.menu-item BBQ Chicken
      %li.menu-item Smoked Turkey
      %li.menu-item Homemade Sausage
  %h2.accordion-header Desserts
  .accordion-content
    %ul
      %li.menu-item Carrot Cake
      %li.menu-item Strawberry Short Cake
      %li.menu-item Bacon Candy
      %li.menu-item Banana Cream Pie
      %li.menu-item Mixed Berry Crisp
      %li.menu-item Brownies
