%h2
  Photo Gallery:
%hr
.rslides_container
  %ul.rslides
    %li
      %img{:src => "images/fire.png", :alt => ""}/
    %li
      %img{:src => "images/chicken.jpg", :alt => ""}/
    %li  
      %img{:src => "images/chicken2.jpg", :alt => ""}/
    %li  
      %img{:src => "images/chicken_rack.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/chicken_rack2.jpeg", :alt => ""}/ 
    %li  
      %img{:src => "images/cut.jpeg", :alt => ""}/ 
    %li  
      %img{:src => "images/autograph.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/kisspig.jpg", :alt => ""}/
    %li  
      %img{:src => "images/marinating.jpeg", :alt => ""}/ 
    %li  
      %img{:src => "images/pig.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig1.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig10.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/pig11.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/pig2.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig3.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig4.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig5.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig6.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig7.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig8.jpg", :alt => ""}/
    %li  
      %img{:src => "images/pig9.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/ribs.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/sides.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/smoking.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/smoking2.jpeg", :alt => ""}/
    %li  
      %img{:src => "images/whole_chicken.jpeg", :alt => ""}/
