#galleria
  %img{ :src => "images/autograph.jpeg"  }/
  %a{ :href => "images/autograph.jpeg", :src => "images/thumbs/autograph.jpeg"  }/
  %img{ :src => "images/chicken.jpg"  }/
  %a{ :href => "images/chicken.jpg", :src => "images/thumbs/chicken.jpg"  }/
  %img{ :src => "images/chicken2.jpg"  }/
  %a{ :src => "images/chicken2.jpg", :src => "images.thumbs.chicken2.jpg"   }/
  %img{ :src => "images/chicken_rack.jpeg"  }/
  %a{ :href => "images/chicken_rack.jpeg", :src => "images/thumbs/chicken_rack.jpeg" }/
  %img{ :src => "images/chicken_rack2.jpeg" }/ 
  %a{ :href => "images/chicken_rack2.jpeg", :src => "images/thumbs/chicken_rack2.jpeg" }/ 
  %img{ :src => "images/cut.jpeg" }/ 
  %a{ :href => "images/cut.jpeg", :src => "images/thumbs.cut.jpeg" }/ 
  %img{ :src => "images/fire.png" }/
  %a{ :href => "images/fire.png", :src => "images/thumbs/fire.png" }/
  %img{ :src => "images/kisspig.jpg" }/
  %a{ :href => "images/kisspig.jpg", :src => "images/thumbs/kisspig.jpg" }/
  %img{ :src => "images/marinating.jpeg" }/ 
  %a{ :href => "images/marinating.jpeg", :src => "images/thumbs/marinating.jpeg" }/ 
  %img{ :src => "images/pig.jpg" }/
  %a{ :href => "images/pig.jpg", :src => "images/thumbs/pig.jpg" }/
  %img{ :src => "images/pig1.jpg" }/
  %a{ :href => "images/pig1.jpg", :src => "images/thumbs/pig1.jpg" }/
  %img{ :src => "images/pig10.jpeg" }/
  %a{ :href => "images/pig10.jpeg", :src => "images/thumbs/pig10.jpeg" }/
  %img{ :src => "images/pig11.jpeg" }/
  %a{ :href => "images/pig11.jpeg", :src => "images/thumbs/pig11.jpeg" }/
  %img{ :src => "images/pig2.jpg" }/
  %a{ :href => "images/pig2.jpg", :src => "images/thumbs/pig2.jpg" }/
  %img{ :src => "images/pig3.jpg" }/
  %a{ :href => "images/pig3.jpg", :src => "images/thumbs/pig3.jpg" }/
  %img{ :src => "images/pig4.jpg" }/
  %a{ :href => "images/pig4.jpg", :src => "images/thumbs/pig4.jpg" }/
  %img{ :src => "images/pig5.jpg" }/
  %a{ :href => "images/pig5.jpg", :src => "images/thumbs/pig5.jpg" }/
  %img{ :src => "images/pig6.jpg" }/
  %a{ :href => "images/pig6.jpg", :src => "images/thumbs/pig6.jpg" }/
  %img{ :src => "images/pig7.jpg" }/
  %a{ :href => "images/pig7.jpg", :src => "images/thumbs/pig7.jpg" }/
  %img{ :src => "images/pig8.jpg" }/
  %a{ :href => "images/pig8.jpg", :src => "images/thumbs/pig8.jpg" }/
  %img{ :src => "images/pig9.jpeg" }/
  %a{ :href => "images/pig9.jpeg", :src => "images/thumbs/pig9.jpeg" }/
  %img{ :src => "images/ribs.jpeg" }/
  %a{ :href => "images/ribs.jpeg", :src => "images/thumbs/ribs.jpeg" }/
  %img{ :src => "images/sides.jpeg" }/
  %a{ :href => "images/sides.jpeg", :src => "images/thumbs/sides.jpeg" }/
  %img{ :src => "images/smoking.jpeg" }/
  %a{ :href => "images/smoking.jpeg", :src => "images/thumbs/smoking.jpeg" }/
  %img{ :src => "images/smoking2.jpeg" }/
  %a{ :href => "images/smoking2.jpeg", :src => "images/thumbs/smoking2.jpeg" }/
  %img{ :src => "images/whole_chicken.jpeg" }/
  %a{ :href => "images/whole_chicken.jpeg", :src => "images/thumbs/whole_chicken.jpeg" }/
