%h2.match-orange
  Photo Gallery:
%hr
#slideshow.carousel.slide
  .carousel-inner
    .item.active
      %img{:alt => "", :src => "images/hogstock/fire.png"}/
    .item
      %img{:alt => "", :src => "images/hogstock/chicken_rack.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/chicken_rack2.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/autograph.jpeg"}/
      .carousel-caption
        %h4 Keith Anderson Autograph
        %p Thanks for the kick ass sliders!
    .item
      %img{:alt => "", :src => "images/hogstock/kisspig.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/marinating.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig11.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig2.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig3.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig4.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig5.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig6.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/pig8.jpg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/ribs.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/sides.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/smoking.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/smoking2.jpeg"}/
    .item
      %img{:alt => "", :src => "images/hogstock/whole_chicken.jpeg"}/
  %a.left.carousel-control{"data-slide" => "prev", :href => "#slideshow"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#slideshow"} ›
