#galleria
  %a{ href => "images/thumbs/autograph.jpeg", :src => "images/autograph.jpeg" data-title="", data-description=""}/
  %a{ href => "images/thumbs/chicken.jpg", src => "images/chicken.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/chicken2.jpg", src => "images/chicken2.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/chicken_rack.jpeg", src => "images/chicken_rack.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/chicken_rac2.jpeg", src => "images/chicken_rack2.jpeg", data-title="", data-description=""}/ 
  %a{ href => "images/thumbs/cut.jpeg", src => "images/cut.jpeg", data-title="", data-description=""}/ 
  %a{ href => "images/thumbs/fire.png", src => "images/fire.png", data-title="", data-description=""}/
  %a{ href => "images/thumbs/kisspig.jpg", src => "images/kisspig.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/marinating.jpeg", src => "images/marinating.jpeg", data-title="", data-description=""}/ 
  %a{ href => "images/thumbs/pig.jpg", src => "images/pig.jpg",  data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig1.jpg", src => "images/pig1.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig10.jpeg", src => "images/pig10.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig11.jpeg", src => "images/pig11.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig2.jpg", src => "images/pig2.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig3.jpg", src => "images/pig3.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig4.jpg", src => "images/pig4.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig5.jpg", src => "images/pig5.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig6.jpg", src => "images/pig6.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig7.jpg", src => "images/pig7.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig8.jpg", src => "images/pig8.jpg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/pig9.jpeg", src => "images/pig9.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/ribs.jpeg", src => "images/ribs.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/sides.jpeg", src => "images/sides.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/smoking.jpeg", src => "images/smoking.jpeg", data-title="", data-description=""}/
  %a{ href => "images/thumbs/smoking2.jpeg", src => "images/smoking2.jpeg",  data-title="", data-description=""}/
  %a{ href => "images/thumbs/whole_chicken.jpeg", src => "images/whole_chicken.jpeg", data-title="", data-description=""}/
= <script>
  Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
  Galleria.run('#galleria');
</script>
