%h2.match-orange
  What People Are Saying About Us:
%hr
%div
  %ul.bxslider
    %li
      %blockquote
        Hogstock is amazing! They cater the biggest party in the NW at the Gorge Amphitheater for Dave Matthews Band concert in Washington. They brought all the fixins and the meal was phenomenal! Hogstock is more than flavor and bbq it is an atmostphere they create. One i look forward to everytime. Caitlin Cardier approved.
        %p.testimonial-person - Caitlin Cardier
    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p.testimonial-person - Srinivas
    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p.testimonial-person - Anita

    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p.testimonial-person - Anita

    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p.testimonial-person - Anita

    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p.testimonial-person - Anita
