%div
  %ul.bxslider
    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p{:style => "text-align:right;margin-right:20px;"} - David
    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p{:style => "text-align:right;margin-right:20px;"} - Srinivas
    %li
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.
        %p{:style => "text-align:right;margin-right:20px;"} - Anita
